---

# tasks file for Windows-2022-STIG
- name: Display Banner
  ansible.builtin.debug:
      msg: "{{ lockdown_banner.split('\n') }}"
  tags:
      - always

- name: Gather Distribution Info
  ansible.builtin.setup:
      gather_subset: distribution,!all,!min
  when:
      - ansible_distribution is not defined
  tags:
      - always

- name: Check OS Version and Family
  ansible.builtin.assert:
      that:
          - ansible_os_family == 'Windows'
          - ansible_distribution | regex_search('(Microsoft Windows Server 2022)')
      success_msg: "{{ ansible_distribution }} {{ ansible_distribution_major_version }} is the detected operating system."
      fail_msg: "This role can only be run against Windows Server 2022 Editions. {{ ansible_distribution }} {{ ansible_distribution_major_version }} is not supported."
  tags:
      - always

- name: Check Ansible Version
  ansible.builtin.assert:
      that: ansible_version.full is version_compare(win2022stig_min_ansible_version, '>=')
      msg: You must use Ansible {{ win2022stig_min_ansible_version }} or greater
  tags:
      - always

- name: Include the Preliminary Tasks
  ansible.builtin.import_tasks: prelim.yml
  tags:
      - prelim_tasks

- name: Execute the Category 1 (Highest Severity) Tasks
  ansible.builtin.import_tasks: cat1.yml
  when: win2022stig_cat1_patch
  tags:
      - CAT1

- name: Execute the category 2 (medium severity) tasks
  ansible.builtin.import_tasks: cat2.yml
  when: win2022stig_cat2_patch
  tags:
      - CAT2

- name: Execute the category 3 (lowest severity) tasks
  ansible.builtin.import_tasks: cat3.yml
  when: win2022stig_cat3_patch
  tags:
      - CAT3

- name: If Warnings Found Output Count and Control IDs Affected
  ansible.builtin.debug:
      msg:
          - "You have {{ warn_count }} Warning(s) that require investigation(s). Their ID's are listed below:"
          - "{{ warn_control_list }}"
  when: warn_count != 0

- name: Reboot Now
  ansible.windows.win_shell: shutdown -r -t 1
  changed_when: false
  check_mode: false
